.header {
	height: 60px;
	color: #eee;
	background-color: #c2185b;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}