<div class="container">
  <h3>Login:</h3>
  <form novalidate (ngSubmit)="submitLoginForm(loginForm)" class="login-form" id="login-form" #loginForm="ngForm">

    <div class="form-box">
      <md-input-container class="">
        <input autocomplete="false" ngModel name="email" email mdInput required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          placeholder="Email">
      </md-input-container>
    </div>

    <div class="form-box">
      <md-input-container class="">
        <input ngModel name="password" type="password" [minlength]="3" mdInput required placeholder="Password">
      </md-input-container>
    </div>

    <button type="submit" md-raised-button>Log in</button>

  </form>

  <br>
  <nav class="nav-links">
    <a routerLink="/registration" routerLinkActive="active">Registration page</a>
    <a routerLink="/recover" routerLinkActive="active">Recover password</a>
  </nav>
</div>
