<div class="container">
  <h3>Login:</h3>
  <form novalidate (ngSubmit)="submitLoginForm(loginForm)" class="login-form" id="login-form" #loginForm="ngForm">

    <div class="form-box">
      <md-input-container class="">
        <input autocomplete="false" ngModel name="email" email mdInput required placeholder="Email">
      </md-input-container>
    </div>

    <div class="form-box">
      <md-input-container class="">
        <input ngModel name="password" type="password" [minlength]="5" mdInput required placeholder="Password">
      </md-input-container>
    </div>

    <button type="submit" md-raised-button>Log in</button>

  </form>

</div>
