<div class="container">
    <h3>Password recovering:</h3>
    <form novalidate (ngSubmit)="submitRecoverForm(recoverForm)" class="recover-form" id="recover-form" #recoverForm="ngForm">
  
      <div class="form-box">
        <md-input-container class="">
          <input autocomplete="false" ngModel name="email" email mdInput required placeholder="Email">
        </md-input-container>
        <div [hidden]="!wrongEmail" class="error">Email not found :(</div>
      </div>

      <div class="form-box">
        Please answer the following question:
        <div class="answer-box"><span class="random-first">{{randomFirst}}</span> + <span class="random-second">{{randomSecond}}</span> </div>
          <md-input-container class="">
            <input autocomplete="false" ngModel name="answer" mdInput required placeholder="Your answer">
          </md-input-container>
          <div [hidden]="!wrongAnswer" class="error">Sorry, wrong answer :(</div>
      </div>
  
      <button type="submit" class="submit" md-raised-button>Recover password</button>
  
    </form>
  
  </div>
  