<div class="container">

  <h3>Change my profile info:</h3>
  <form novalidate (ngSubmit)="submitProfileForm(profileForm)" class="profile-form" id="profile-form" #profileForm="ngForm">

    <div class="form-box">
      <md-input-container class="">
        <input [(ngModel)]="first_name" name="first_name" mdInput placeholder="First name">
      </md-input-container>
    </div>
    <div class="form-box">
      <md-input-container class="">
        <input [(ngModel)]="last_name" name="last_name" value="first_name" mdInput placeholder="Last name">
      </md-input-container>
    </div>
    <div class="form-box">
      <md-input-container class="">
        <input autocomplete="false" [(ngModel)]="email" name="email" email mdInput required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          placeholder="Email">
      </md-input-container>
    </div>
    <div class="form-box">
      <md-select [(ngModel)]="year" name="year" required placeholder="year">
        <md-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </md-option>
      </md-select>
      <label class="year-misc">Birth year</label>
    </div>
    <div class="form-box">
      <md-input-container class="">
        <input [(ngModel)]="password" name="password" [type]='showPassword ? "text" : "password"' [minlength]="3" mdInput required placeholder="Password">
      </md-input-container>
      <button type="button" class="toggle-password" (click)="togglePassword($event)"><md-icon>remove_red_eye</md-icon></button>
    </div>

    <button type="submit" md-raised-button>Submit form</button>
    <div changed-notification *ngIf="changedNotif">Congratulations! Information changed!</div>

  </form>

</div>